@charset "UTF-8";
/* Sorry for the webfont, I'm rushing here*/
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap");
/* make design a bit easier */
html { box-sizing: border-box; }

*, *:before, *:after { box-sizing: inherit; }

/* treat html5 elements as divs */
nav, section, footer { display: block; }

dfn { display: inline-block; }

/* begin main styling */
body { font-family: "Montserrat", sans-serif; margin: 0; font-size: 1em; line-height: 1.7; color: #131; font-weight: 500; }

.hidden { position: absolute; left: -9999em; height: 0; }

a { color: #497318; }

a.button { text-decoration: none; padding: 12px 20px; margin: 8px; border-radius: 10px; box-shadow: inset 0 0 0 2px #497318; }

nav#menu-holder { z-index: 2; background-color: rgba(27, 48, 12, 0); height: 60px; padding: 0 5%; color: #fff; position: fixed; top: 0; left: 0; width: 100%; display: flex; justify-content: space-between; align-items: center; transition: all .5s; }
nav#menu-holder.solid { background-color: #1B300C; height: 70px; box-shadow: 0 0 16px rgba(0, 0, 0, 0.4); }
nav#menu-holder .logo { width: 50px; height: 50px; background-size: 50px 50px; background-image: url("assets/olive-logo-joined-white.svg"); vertical-align: middle; font-size: 0; }

ul#mainmenu { display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-around; font-weight: 400; }
ul#mainmenu li { display: inline-flex; padding: 0 10px; }
ul#mainmenu li a { color: #fff; text-decoration: none; border-bottom: 2px inset rgba(255, 255, 255, 0.2); transition: border-color .5s; }
ul#mainmenu li a:hover { border-bottom: 2px inset #fff; }
@media screen and (max-width: 691px) { ul#mainmenu { display: none; } }

section { padding-bottom: 5em; border-top: 8px solid rgba(73, 115, 24, 0.3); }
section h1, section h2, section h3, section h4, section h5, section h6 { text-align: center; }
section:first-of-type { padding-top: 60px; }
section .content { margin-left: 5%; margin-right: 5%; }
@media screen and (min-width: 800px) { section .content { margin: auto; max-width: 80%; } }
@media screen and (min-width: 1200px) { section .content { margin: auto; max-width: 60%; } }

section#what .content { display: flex; flex-direction: column; }
section#what .content .screenshot { border-radius: 4px; box-shadow: 0 2px 11px rgba(0, 0, 0, 0.6); width: 100%; max-width: 700px; align-self: center; }

section.featured { background-color: #497318; background-image: linear-gradient(48deg, #4ea375 0%, #2e4018 100%); color: #fff; }
section.featured h1 { color: #97d94b; padding: 10px 0; }
section.featured a { color: white; }

@keyframes wibble { from { top: 0; }
  to { top: .2em; } }
section#intro { font-weight: 400; border-top: none; text-align: left; font-size: 1.2em; background-image: linear-gradient(132deg, #1c3c2b 0%, #475e2d 100%), url("assets/IMG_7369.JPG"); background-size: cover; background-attachment: fixed; background-position: center; background-blend-mode: screen; /*background-color: $theme-color;*/ color: white; line-height: .8; height: 105vh; padding: 5em 2em; display: flex; }
section#intro h1, section#intro h2, section#intro h3, section#intro h4, section#intro h5, section#intro h6 { text-align: inherit; }
section#intro .versionnumber { display: block; font-size: .9em; line-height: 1.75; color: #97d94b; }
section#intro .skiparrow { padding-top: 2em; text-align: center; animation: wibble .7s infinite alternate; position: relative; }
section#intro .skiparrow a { text-decoration: none; font-size: 1.5em; width: 1.5em; height: 1.5em; background-image: url("assets/Homepage_Triangle.svg"); background-size: 1.5em 1.5em; background-repeat: no-repeat; }
section#intro .skiparrow a:before { content: '▼'; color: transparent; }
@media screen and (max-width: 799px) { section#intro { font-size: 1em; line-height: 1; } }
@media screen and (max-height: 499px) { section#intro { font-size: .8em; line-height: 1; } }
section#intro .content { margin: auto; width: 28em; }
section#intro .logo { width: 8em; height: 8em; background-size: 8em 8em; background-image: url("assets/olive-logo-joined-white.svg"); }
section#intro #mainbuttons { display: flex; flex-direction: row; flex-wrap: wrap; }
section#intro a.button { display: inline-block; color: #fff; transition: box-shadow .2s, color .2s, background-color .2s; box-shadow: inset 0 0 0 2px #fff, 0 3px 14px rgba(0, 0, 0, 0.4); }
section#intro a.button:hover { background-color: rgba(255, 255, 255, 0.2); box-shadow: inset 0 0 0 2px #fff, 0 5px 24px rgba(0, 0, 0, 0.7); }
section#intro a.button.cta { box-shadow: 0; background-color: #fff; color: #497318; font-weight: bold; box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4); }
section#intro a.button.cta:hover { background-color: #497318; color: #fff; box-shadow: 0 5px 24px rgba(0, 0, 0, 0.7); }

ul#download-listing input#windows-builds + label span.title, ul#download-listing input#mac-builds + label span.title, ul#download-listing input#linux-builds + label span.title, ul#download-listing input#other-builds + label span.title, ul#download-listing input#windows-builds + label span.subtitle, ul#download-listing input#mac-builds + label span.subtitle, ul#download-listing input#linux-builds + label span.subtitle, ul#download-listing input#other-builds + label span.subtitle { display: block; }

ul#download-listing { display: flex; flex-wrap: wrap; flex-direction: row; justify-content: space-between; }
ul#download-listing > li { display: block; flex-basis: 0; flex: 1 1 0; margin: 5px; }
ul#download-listing input#windows-builds, ul#download-listing input#mac-builds, ul#download-listing input#linux-builds, ul#download-listing input#other-builds { display: none; }
ul#download-listing input#windows-builds + label .field-box, ul#download-listing input#mac-builds + label .field-box, ul#download-listing input#linux-builds + label .field-box, ul#download-listing input#other-builds + label .field-box { background-position: center 3em; background-size: 5em 5em; background-repeat: no-repeat; padding: 32px; padding-top: 150px; font-weight: bold; border-radius: 3px; text-align: center; transition: background-color .3s; cursor: pointer; }
ul#download-listing input#windows-builds + label span.title, ul#download-listing input#mac-builds + label span.title, ul#download-listing input#linux-builds + label span.title, ul#download-listing input#other-builds + label span.title { font-size: 1.25em; }
ul#download-listing input#windows-builds + label span.subtitle, ul#download-listing input#mac-builds + label span.subtitle, ul#download-listing input#linux-builds + label span.subtitle, ul#download-listing input#other-builds + label span.subtitle { font-weight: 400; }
ul#download-listing input#windows-builds + label + ul.links-list, ul#download-listing input#mac-builds + label + ul.links-list, ul#download-listing input#linux-builds + label + ul.links-list, ul#download-listing input#other-builds + label + ul.links-list { margin-top: .8em; padding-left: 0; overflow: hidden; opacity: 0; pointer-events: none; display: block; transition: opacity .5s; }
ul#download-listing input#windows-builds + label + ul.links-list li, ul#download-listing input#mac-builds + label + ul.links-list li, ul#download-listing input#linux-builds + label + ul.links-list li, ul#download-listing input#other-builds + label + ul.links-list li { border: 2px solid rgba(255, 255, 255, 0.3); margin-bottom: 2px; text-align: center; list-style: none; }
ul#download-listing input#windows-builds + label + ul.links-list li a, ul#download-listing input#mac-builds + label + ul.links-list li a, ul#download-listing input#linux-builds + label + ul.links-list li a, ul#download-listing input#other-builds + label + ul.links-list li a { text-decoration: none; }
ul#download-listing input#windows-builds + label + ul.links-list li:hover, ul#download-listing input#mac-builds + label + ul.links-list li:hover, ul#download-listing input#linux-builds + label + ul.links-list li:hover, ul#download-listing input#other-builds + label + ul.links-list li:hover { background-color: rgba(255, 255, 255, 0.2); }
ul#download-listing input#windows-builds:checked + label .field-box, ul#download-listing input#mac-builds:checked + label .field-box, ul#download-listing input#linux-builds:checked + label .field-box, ul#download-listing input#other-builds:checked + label .field-box { background-color: rgba(151, 217, 75, 0.3); }
ul#download-listing input#windows-builds:checked + label + ul.links-list, ul#download-listing input#mac-builds:checked + label + ul.links-list, ul#download-listing input#linux-builds:checked + label + ul.links-list, ul#download-listing input#other-builds:checked + label + ul.links-list { height: auto; opacity: 1; pointer-events: all; }
ul#download-listing input#windows-builds + label .field-box { background-image: url("assets/windows-logo-white.svg"); }
ul#download-listing input#mac-builds + label .field-box { background-image: url("assets/apple-inc-white.svg"); }
ul#download-listing input#linux-builds + label .field-box { background-image: url("assets/tux-white.svg"); }
ul#download-listing input#other-builds + label .field-box { background-image: url("assets/triple-dot-horizontal.svg"); }

footer { background-color: #1B300C; color: #fff; text-align: center; font-size: .875em; padding: 1em 0; }

/* https://cutcodedown.com/tutorial/mobileMenu */
#mobilemenu { display: none; }
#mobilemenu + label { position: relative; float: right; padding: 0.5em 1em; color: #FFF; border-radius: 0.25em; }
#mobilemenu + label:before { content: '⋮'; display: block; font-size: 2em; }
#mobilemenu + label:before { border-bottom: 0; }
@media screen and (min-width: 692px) { #mobilemenu + label { display: none; } }
#mobilemenu:checked + label { background: #497318; }
@media screen and (max-width: 691px) { #mobilemenu:checked ~ #mainmenu { display: block; position: fixed; top: 3em; right: 0; text-align: left; padding: 10px 10px; background-color: #497318; border-radius: 0.25em; box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5); }
  #mobilemenu:checked ~ #mainmenu li { display: block; margin: .9em 0; } }

/* https://computerrock.com/blog/how-to-create-css-carousel-slider/ */
input[name="carousel"] { display: none; }

.carousel-nav { float: right; }
.carousel-nav label { display: block; border: 2px solid #fff; border-radius: 50%; cursor: pointer; transition: background-color 0.25s; margin: 16px 0; width: 16px; height: 16px; }
@media screen and (max-width: 799px) { .carousel-nav label { margin: 20px 0; width: 20px; height: 20px; } }

.carousel-slides { width: calc(100% - 40px); overflow: hidden; }
.carousel-slides div.image-column, .carousel-slides div.text-column, .carousel-slides div.single-column { float: left; display: inline-block; padding: 10px; overflow: hidden; }
.carousel-slides div.image-column h1, .carousel-slides div.text-column h1, .carousel-slides div.single-column h1, .carousel-slides div.image-column h2, .carousel-slides div.text-column h2, .carousel-slides div.single-column h2 { text-align: left; }
.carousel-slides div.image-column { width: 40%; }
@media screen and (max-width: 799px) { .carousel-slides div.image-column { float: left; width: 100%; } }
.carousel-slides div.text-column { width: 60%; }
@media screen and (max-width: 799px) { .carousel-slides div.text-column { float: left; width: 100%; } }
.carousel-slides div.single-column { width: 100%; }
.carousel-slides .inner { width: 700%; transition: margin 0.5s; }
.carousel-slides .item { float: left; width: 14.2857142857%; }

#carousel-1:checked ~ .carousel-nav label[for="carousel-1"] { background-color: #fff; }

#carousel-2:checked ~ .carousel-nav label[for="carousel-2"] { background-color: #fff; }

#carousel-3:checked ~ .carousel-nav label[for="carousel-3"] { background-color: #fff; }

#carousel-4:checked ~ .carousel-nav label[for="carousel-4"] { background-color: #fff; }

#carousel-5:checked ~ .carousel-nav label[for="carousel-5"] { background-color: #fff; }

#carousel-6:checked ~ .carousel-nav label[for="carousel-6"] { background-color: #fff; }

#carousel-7:checked ~ .carousel-nav label[for="carousel-7"] { background-color: #fff; }

#carousel-1:checked ~ .carousel-slides .inner { margin-left: 0%; }

#carousel-2:checked ~ .carousel-slides .inner { margin-left: -100%; }

#carousel-3:checked ~ .carousel-slides .inner { margin-left: -200%; }

#carousel-4:checked ~ .carousel-slides .inner { margin-left: -300%; }

#carousel-5:checked ~ .carousel-slides .inner { margin-left: -400%; }

#carousel-6:checked ~ .carousel-slides .inner { margin-left: -500%; }

#carousel-7:checked ~ .carousel-slides .inner { margin-left: -600%; }

/* custom scrollbar for chrome */
::-webkit-scrollbar { width: 16px; }
::-webkit-scrollbar-thumb { background: #649d21; border-radius: 20px; }
::-webkit-scrollbar-track { background: #2e490f; }

/*# sourceMappingURL=style.css.map */
